In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
train=pd.read_csv('big_mart_sales_train.csv')
test=pd.read_csv('big_mart_sales_test.csv')

In [3]:
train['source']='big_mart_sales_train.csv'
test['source']='big_mart_sales_test.csv'
df = pd.concat([train, test],ignore_index=True)
print(train.shape, test.shape, df.shape)

(8523, 13) (5681, 12) (14204, 13)

In [4]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,big_mart_sales_train.csv
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,big_mart_sales_train.csv
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,big_mart_sales_train.csv
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,big_mart_sales_train.csv
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,big_mart_sales_train.csv

In [5]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'source'],
      dtype='object')

In [6]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
source                        object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                11765 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                10188 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          8523 non-null   float64
 12  source                     14204 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.4+ MB

In [8]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11765.000000,14204.000000,14204.000000,14204.000000,8523.000000
mean,12.792854,0.065953,141.004977,1997.830681,2181.288914
std,4.652502,0.051459,62.086938,8.371664,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,834.247400
50%,12.600000,0.054021,142.247000,1999.000000,1794.331000
75%,16.750000,0.094037,185.855600,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [9]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
source                          0
dtype: int64

dataset has missing values

In [10]:
mean=df['Item_Weight'].mean()
mean

12.792854228644991

In [11]:
df['Item_Weight'].fillna(mean,inplace=True)

In [18]:
mode=df['Outlet_Size'].mode()
mode[0]

'Medium'

In [13]:
df['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [16]:
df['Outlet_Size'].fillna(mode[0],inplace=True)

In [17]:
df['Outlet_Size'].unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [19]:
mean=df['Item_Outlet_Sales'].mean()
mean

2181.2889135750365

In [20]:
df['Item_Outlet_Sales'].fillna(mean,inplace=True)

In [21]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
source                       0
dtype: int64

#All missing values are gone

In [22]:
#checking distinct entries
np.unique(df['Item_Fat_Content'])

array(['LF', 'Low Fat', 'Regular', 'low fat', 'reg'], dtype=object)

In [23]:
np.unique(df['Item_Type'])

array(['Baking Goods', 'Breads', 'Breakfast', 'Canned', 'Dairy',
       'Frozen Foods', 'Fruits and Vegetables', 'Hard Drinks',
       'Health and Hygiene', 'Household', 'Meat', 'Others', 'Seafood',
       'Snack Foods', 'Soft Drinks', 'Starchy Foods'], dtype=object)

In [24]:
np.unique(df['Outlet_Identifier'])

array(['OUT010', 'OUT013', 'OUT017', 'OUT018', 'OUT019', 'OUT027',
       'OUT035', 'OUT045', 'OUT046', 'OUT049'], dtype=object)

In [25]:
df['Outlet_Size'].unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [26]:
np.unique(df['Outlet_Type'])

array(['Grocery Store', 'Supermarket Type1', 'Supermarket Type2',
       'Supermarket Type3'], dtype=object)

In [27]:
df['Item_Fat_Content']=df['Item_Fat_Content'].replace('LF','Low Fat')

In [28]:
df['Item_Fat_Content']=df['Item_Fat_Content'].replace('low fat','Low Fat')

In [29]:
df['Item_Fat_Content']=df['Item_Fat_Content'].replace('reg','Regular')

In [30]:
np.unique(df['Item_Fat_Content'])

array(['Low Fat', 'Regular'], dtype=object)

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Item_Fat_Content'] = le.fit_transform(df['Item_Fat_Content']) 
df['Item_Type'] = le.fit_transform(df['Item_Type']) 
df['Outlet_Identifier'] = le.fit_transform(df['Outlet_Identifier']) 
df['Outlet_Size'] = le.fit_transform(df['Outlet_Size']) 
df['Outlet_Type'] = le.fit_transform(df['Outlet_Type'])

In [32]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source
0,FDA15,9.30,0,0.016047,4,249.8092,9,1999,1,Tier 1,1,3735.1380,big_mart_sales_train.csv
1,DRC01,5.92,1,0.019278,14,48.2692,3,2009,1,Tier 3,2,443.4228,big_mart_sales_train.csv
2,FDN15,17.50,0,0.016760,10,141.6180,9,1999,1,Tier 1,1,2097.2700,big_mart_sales_train.csv
3,FDX07,19.20,1,0.000000,6,182.0950,0,1998,1,Tier 3,0,732.3800,big_mart_sales_train.csv
4,NCD19,8.93,0,0.000000,9,53.8614,1,1987,0,Tier 3,1,994.7052,big_mart_sales_train.csv

In [33]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content               int32
Item_Visibility              float64
Item_Type                      int32
Item_MRP                     float64
Outlet_Identifier              int32
Outlet_Establishment_Year      int64
Outlet_Size                    int32
Outlet_Location_Type          object
Outlet_Type                    int32
Item_Outlet_Sales            float64
source                        object
dtype: object

Observations:
Missing values have been filled with the mean for continious variable and mode for catogorical variables
Object dtype columns have been converted to int32
Item_Identifier will be dropped

In [35]:
df=df.drop('Item_Identifier',axis=1,inplace=True)

In [37]:
df=pd.DataFrame #change df to dataframe

In [38]:
sns.heatmap(df)

TypeError: __array__() missing 1 required positional argument: 'self'

In [39]:
train = df.loc[df['source']=="big_mart_sales_train.csv"]
test = df.loc[df['source']=="big_mart_sales_test.csv"]#splitting the datasets

TypeError: 'type' object is not subscriptable

In [52]:
test=df['Item_Outlet_Sales']
train.drop(['source'],axis=1,inplace=True)

In [58]:
train.to_csv("train_modified.csv",index=False)
test.to_csv("test_modified.csv",index=False)# save the modified model of splitted datasets

AttributeError: 'str' object has no attribute 'to_frame'

In [59]:
train.shape

(8523, 12)

In [60]:
test.shape

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
train_train,train_test,test_train,test_test=train_test_split(train,test,random_state=93,test_size=0.24)

TypeError: object of type 'property' has no len()

In [ ]:
import sklearn
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
from sklearn.model_selection import train_test_split
def maxr2_score(lm,x,y):
    max_r_score=0
    for r_state in range(42,101):
        x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.24)
        lm=LinearRegression()
        lm.fit(x_train,y_train)
        y_pred=lm.predict(x_test)
        r2_scr=r2_score(y_test,y_pred)
        print('r2_score corresponding to random state; ',r_state,' is: ',r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state

print('max r2 score corresponding to ',final_r_state,' is ',max_r_score)